body {
    margin: 0px;
    background-color: rgb(44, 44, 44);
    color: rgb(233, 239, 241);
    text-align: center;
    font-size: .95em;
    font-family: "Catamaran";
}


h1 {
    color: white;
    font-family: Limelight;
    margin-bottom: 0;
    text-decoration: underline;
}
h2 {
    color: white;
    font-family: Limelight;
    margin-bottom: 0;
    font-size: 1.5em;
}
h3 {
    color: white;
    font-family: Limelight;
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 1.5em;
}

svg {
    user-select: none;
}

.para {
    margin: 0 5%;
}


.grid line {
    stroke: rgb(194, 194, 194);
    opacity: 0.25;
    shape-rendering:crispEdges;
    }
  
.grid path {
    stroke-width: 0;
    }

.grid1 line {
    stroke: rgb(194, 194, 194);
    opacity: 0.25;
    shape-rendering:crispEdges;
    }
    
.grid1 path {
    stroke-width: 0;
    }

.filmbox {
    stroke: #474747;
    stroke-width: 1.5px;
    stroke-linejoin:round;
}

.filmtext {
    font-weight: 450;
    fill: rgb(245, 250, 253);

}
#centerDiv {
    display: flex;
    width: 100%;
    
}

.title {
    font-family: Limelight;
    font-weight: bolder;
}

#flexbox {
    margin-top: 3px;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

#flexbox .para{
    margin: 10px;
    width: 435px;
    order: 1;
}

#empty {
    width: 385px;
    margin-top: 10px;
    margin-left: 10px;
    order: 2;
}
#button_container {
    width: 180px;
    margin-top: 13px;
    margin-left: 210px;
    z-index: 10;
    order: 3;
}

#Critic {
    background:#f5992b;
    height: 50px;
    width: 120px;
    border-right: 15px solid #e87411;
    border-bottom: none;
    color: #fff;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: none;
    font-family: Limelight;
    font-size: 1.1em;
    letter-spacing: 1.4px;
    font-weight: 600;
}
#Audience {
    background:#00a1c1;
    height: 50px;
    width: 120px;
    border-right: 15px solid #004c6d;
    border-top: none;
    color: #fff;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    box-shadow: none;
    font-family: Limelight;
    font-size: 1.05em;
    font-weight: 600;

}

@media (max-width: 1279px){
    #flexbox {
        width: 1260px;
        display: flex;
        position: absolute;
    }
    
    #button_container {
        width: 205px;
        margin-top: 10px;
        margin-left: 190px;
        z-index: 10;
        order: 3;
    }
    
    #Critic {
        background:#f5992b;
        height: 50px;
        width: 120px;
        border-right: 15px solid #e87411;
        color: #fff;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        box-shadow: none;
    }
    #Audience {
        background:#00a1c1;
        height: 50px;
        width: 120px;
        border-right: 15px solid #004c6d;
        color: #fff;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        box-shadow: none;
    }
}